* {
    box-sizing: content-box
}
html {
    font-family: 'Lato', helvetica, sans-serif;
    color: #222222;
    display: block;
}

body {
    background-color: #fffff8;
    margin: 0;
    display: flex;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}

.uline {
    text-decoration: underline;
    color: #222222;
    cursor: pointer;
}

p {
    font-size: 14pt;
    margin: 0;
    border-bottom: 3px solid #222222;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1;
    font-weight: 300;
}

h2, h3, p {
    text-transform: lowercase;
}


main {
    transform: rotate(0deg);
    width: 90vw;
    height: 90vh;
    display: grid;
    align-self: center;
    /* margin: auto; */
    /* margin-top: 15%; */
    grid-template-columns: auto 1fr 1fr 1fr .25fr;
    grid-template-rows: .25fr auto 0.1fr;
    grid-gap: 1rem;
}

.caps {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 500
}

main h1 {
    margin: 0px;
}

main h1:nth-child(1) {
    font-family: 'Abril Fatface', helvetica;
    font-size: 44pt;
    font-weight: 900;
    grid-column: 1 / 5;
    grid-row: 1;
    -ms-flex-item-align: end;
    text-align: left;
}

main h1:nth-child(2) {
    text-transform: lowercase;
    font-weight: 600;
    color: #A2998B;
    writing-mode: vertical-rl;
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    justify-self: end;
    margin-right: -10px;
}

main .line{
    grid-column: 1 / 6;
    grid-row: 3;
    border-bottom: 25px solid #B31B1B;
    align-self: start;
    justify-content: end;
    padding-top: 15px
}

main .content {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-bottom: none;
}

main .content p {
    border-bottom: none;
    text-transform: none;
}

@media only screen and (min-width: 550px) {
    .outer {
        height: 100%;
    }
    main {
        width: 70vw;
        height: 85vh;
    }    
    main h1:nth-child(2) {
        grid-column: 5;
        grid-row: 1 / 3;
    }
    
    main .line{
        grid-column: 3 / 6;
        grid-row: 3;
    }

    p {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 830px) {
    .outer {
        height: 90%;
    }
    main {
        max-width: 750px;
        max-height: 525px;
    }
    p {
        font-size: 16pt;
        margin-bottom: 4px;
    }
}

