:root {
    --ptext: #222222;
    --ptext_light: #22222250;
    --bground: #fffff8;
    --hover: #B31B1B50;
    --stext: #B31B1B;
    --htext: #A2998B;
    --light: 300;
    --base: 400;
    --heavy: 700;
}

* {
    box-sizing: content-box
}

html {
    font-family: 'Lato', helvetica, sans-serif;
    color: var(--ptext);
    display: block;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bground);
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
}

.outer {
    display: flex;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--ptext);
    cursor: pointer;
}

a {
    background: linear-gradient(0deg, var(--hover), var(--hover)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 200ms;
    --bg-h: 100%;
}

a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

p {
    font-size: 3.5vw;
    margin: 0;
    border-bottom: 3px solid var(--ptext);
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1;
    font-weight: var(--light);
}

h2, h3, p {
    text-transform: lowercase;
}

main {
    transform: rotate(0deg);
    display: grid;
    margin: 25px;
    grid-gap: 1rem;
    max-height: 100%;
}

.caps {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: var(--heavy)
}

main h1 {
    margin: 0px;
}

main h1:nth-child(1) {
    font-family: 'Abril Fatface', serif;
    font-size: 44pt;
}

.sidebar {
    text-transform: lowercase;
    writing-mode: vertical-rl;
    grid-column: 5 / 6;
    justify-self: end;
    margin-right: -10px;
    font-size: 2em;
}

.sidebar_content {
    font-weight: var(--heavy);
    color: var(--htext);
}

main .line{
    border-bottom: 25px solid var(--stext);
    align-self: start;
    justify-content: end;
}

@media only screen and (min-width: 550px) {
    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    main {
        width: 70vw;
        width: 70svw;
        margin: 0;
    }
}