* {
    box-sizing: content-box
}

html {
    font-family: 'Lato', helvetica, sans-serif;
    color: #222222;
    display: block;
}

body {
    background-color: #fffff8;
    margin: 0;
    display: flex;
}

.outer {
    display: flex;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}

p {
    font-size: 3.5vw;
    margin: 0;
    border-bottom: 3px solid #222222;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1;
    font-weight: 300;
}

h2, h3, p {
    text-transform: lowercase;
}

main {
    transform: rotate(0deg);
    display: grid;
    margin: 25px;
    grid-gap: 1rem;
}

.caps {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700
}

main h1 {
    margin: 0px;
}

main h1:nth-child(1) {
    font-family: 'Abril Fatface', serif;
    font-size: 44pt;
}

main h1:nth-child(2) {
    text-transform: lowercase;
    font-weight: 600;
    color: #A2998B;
    writing-mode: vertical-rl;
    grid-column: 5 / 6;
    justify-self: end;
    margin-right: -10px;
}

main .line{
    border-bottom: 25px solid #B31B1B;
    align-self: start;
    justify-content: end;
}

@media only screen and (min-width: 550px) {
    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    main {
        width: 70vw;
        width: 70svw;
        margin: 0;
    }
